
@media (min-width: 768px)
{

    
}

@media(max-width: 768px){
	.profile-userpic img {
    width: 100px;
    height: 100px;


}
.profile-sidebar{
	margin-bottom: 15px;
}
.container-ipad input.form-control, .container-ipad select.form-control {
    font-size: 15px;
    height: 50px;
}
.profile-usertitle {
    vertical-align: middle;
    margin-top: 32px;
}
}
